*{
  font-family: Helvetica;
}

.App{
  width: 1000px;
  margin: 0 auto;
}

.col{
  display: inline-block;
  width: calc(100%/3);
}

.container{
  position: relative;
  width: 300px;
}

.promotions{
  font-size: 12px;
  color: white;
  margin: 0px 0px 20px 0px;
}

.promotions > *{
  margin-right: 3px;
}

.deal{
  background-color: red;
  padding: 4px 4px;
  text-align: center;
  width: auto;
}
.eco{
  background-color: green;
  padding: 4px 4px;
  text-align: center;
  width: auto;
}

.heart{
  color: grey;
  font-size: 20px;
}
.like-button{
  background-color: lightgrey;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  margin: auto 0;
  position: absolute;
  right: 20px;
}

.show-image{
  width: 300px;
  height: 300px;
  margin-bottom: 0px;
  object-fit: cover;
}

.information > * {
  font-weight: 700;
  margin: 0px 0px;
}

.information p {
  display: inline;
}

.regular-price{
  text-decoration: line-through;
}

.deal-price{
  color:red
}